<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="sample">
   <h1>Sample</h1>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag "adorable-3344414_640.jpg" , class: "d-block w-100 slide", :alt => "img1" %>
    </div>
    <div class="carousel-item">
        <%= image_tag "animal-931355_640.jpg" , class: "d-block w-100 slide", :alt => "img2" %>
    </div>
    <div class="carousel-item">
        <%= image_tag "rottweiler-1785760_640.jpg" , class: "d-block w-100 slide", :alt => "img3" %>
    </div>
  </div>
</div>